.medium-image
{
    width: 66%;
    margin: 0 auto;
    display: block;
}

.small-image
{
    width: 33%;
    margin: 0 auto;
    display: block;
}

.medium-image-left
{
    width: 66%;
    margin: 0 left;
    display: block;
}

.small-image-left
{
    width: 33%;
    margin: 0 left;
    display: block;
}