.medium-image
{
    width: 66%;
    margin: 0 auto;
    display: block;
}

.small-image
{
    width: 33%;
    margin: 0 auto;
    display: block;
}

.medium-image-left
{
    width: 66%;
    margin: 0 left;
    display: block;
}

.small-image-left
{
    width: 33%;
    margin: 0 left;
    display: block;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

pre {
  white-space: pre !important;
  overflow-y: scroll !important;
  max-height: 50vh !important;
}